/* src/styles/ProjectAI.css */

.project-page {
    
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('/public/images/Fondo2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Comic Sans MS', cursive;
}

.galeria-item {
    margin: 20px;
    height: 90%; /* Ajusta la altura automáticamente al contenido */
    width: calc(100% - 40px); /* Considera el margen en el ancho */
    position: relative; /* Asegura que el contenido sea relativo a este contenedor */
    overflow: hidden; /* Evita que las imágenes ampliadas se desborden */
}

.galeria-item img {
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* Mantendrá su proporción */
    transition: transform 0.3s ease; /* Agrega una animación suave al agrandar */
}


.project-background {
filter: brightness(0.9) contrast(1.1);
}

.project-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(41, 25, 25, 0.63);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.123);
    text-align: center;
}

.project-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
    color: #d9ff00;
}

.project-page p, .project-page ul {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.project-page ul {
    list-style-type: none;
    padding: 0;
}

.project-page li {
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
